@if (Show)
{
  <div class="alert alert-danger" role="alert">
    @Message
  </div>
}

@code {
  [Parameter]
  public bool Show { get; set; }
  
  [Parameter]
  public string Message { get; set; } = string.Empty;
}