@page "/Login"

@if (_hasError)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
        There was an error logging in.
    </RadzenAlert>
}

<AuthorizeView>
    <Authorized>
        <h1>You are logged in</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Not logged in</h1>
        <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenFormField Text="Email" Variant="Variant.Filled" Style="width: 100%;">
                    <RadzenTextBox @bind-Value="@JwtLoginRequest.Email" Style="width: 100%;" />
                </RadzenFormField>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenFormField Text="Password" Variant="Variant.Filled" Style="width: 100%;">
                    <RadzenPassword @bind-Value="@JwtLoginRequest.Password" aria-label="enter password" />
                </RadzenFormField>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenButton Shade="Shade.Lighter" Click=@LoginAsync Text="Login" ButtonStyle="ButtonStyle.Primary"/>
            </RadzenRow>
        </RadzenRow>
    </NotAuthorized>
</AuthorizeView>
