@page "/Login"

@if (_hasError)
{
    <p>There was an error logging in.</p>
}

<AuthorizeView>
    <Authorized>
        <p>You are logged in</p>
        
        <p>Has IdentityAdministrator role: @_identityAdministrator</p>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in</p>
    </NotAuthorized>
</AuthorizeView>

<button @onclick="LoginAsync">Login</button>