name: Docker Builds & Push

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

env:
  DEFAULT_CONTEXT: ./MadWorld
  PLATFORM_BUILDS: linux/amd64,linux/arm64

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push API
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DEFAULT_CONTEXT }}
          file: ./MadWorld/MadWorld.Backend.API/Dockerfile
          push: true
          platforms: ${{ env.PLATFORM_BUILDS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-api:${{ steps.vars.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-api:latest
      - name: Build and push Identity
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DEFAULT_CONTEXT }}
          file: ./MadWorld/MadWorld.Backend.Identity/Dockerfile
          push: true
          platforms: ${{ env.PLATFORM_BUILDS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-identity:${{ steps.vars.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-identity:latest
      - name: Build and push Ship Simulator API
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DEFAULT_CONTEXT }}
          file: ./MadWorld/MadWorld.ShipSimulator.API/Dockerfile
          push: true
          platforms: ${{ env.PLATFORM_BUILDS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-shipsimulator-api:${{ steps.vars.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-shipsimulator-api:latest
          
      - name: Build and push Admin
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DEFAULT_CONTEXT }}
          file: ./MadWorld/MadWorld.Frontend.Admin/Dockerfile
          push: true
          platforms: ${{ env.PLATFORM_BUILDS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-admin:${{ steps.vars.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-admin:latest
      - name: Build and push UI
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DEFAULT_CONTEXT }}
          file: ./MadWorld/MadWorld.Frontend.UI/Dockerfile
          push: true
          platforms: ${{ env.PLATFORM_BUILDS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-ui:${{ steps.vars.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-ui:latest
      - name: Build and push Ship Simulator UI
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DEFAULT_CONTEXT }}
          file: ./MadWorld/MadWorld.ShipSimulator.UI/Dockerfile
          push: true
          platforms: ${{ env.PLATFORM_BUILDS }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-shipsimulator-ui:${{ steps.vars.outputs.tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/madworld-shipsimulator-ui:latest
